/* reset selector */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* custom property */
:root {
	--accent-color: #800000;  /* could also be coded #800 */
}

/* default styles */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 80%;
	margin: auto;
	border: 2px solid var(--accent-color);
}
h1, h2, h3, p, ul {
	padding-top: .5em;
	padding-bottom: .5em;
}
ul {
	margin-left: 2em;
}
a:hover, a:focus {
	font-style: italic;
	color: var(--accent-color);
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 130%;
	color: var(--accent-color);
}
h3 {
	font-size: 105%;
}

/* the styles for the header */
header {
	border-bottom: 2px solid var(--accent-color);
	background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 65%, #f6bb73 100%);

	& h2 {
		font-size: 175%;
		padding-bottom: 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
		padding-bottom: 1em;
	}
	& img {
		float: left;
		margin: .75em 1em;
	}
}

/* the styles for the main content */
main {
	clear: left;
	padding: 0 1em 1em 1em;

	& h1 {
		border-top: 2px solid var(--accent-color);
		border-bottom: 2px solid var(--accent-color);
	}
	& img {
		border: 4px double var(--accent-color);
		border-radius: 10px;
	}
}

blockquote {
	font-style: italic;
	padding: .5em 1em;
}

/* the styles for the footer */
footer {
	background-color: var(--accent-color);

	& p {
		text-align: center;
		color: white;
		padding: 1em 0;
	}
}

/* CSS class */
.large {
	font-size: 125%;
}

& h1 {
	border: 2px solid var(--accent-color);
	border-radius: 10px;
	padding: .5em 1em;
}
